.story {
  box-shadow: 0 4.045px 6.472px -2.427px rgba(10, 27, 37, 0.4);
  border-radius: 8px;
  background-clip: padding-box;
  padding: 2%;
  margin: 2%;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  width: 200px;
}

.story:hover {
  box-shadow: 0 10.59px 16.944px -6.354px rgba(10, 27, 37, 0.4);
}

.story>span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-title {
  width: 100%;
  font-size: 14px;
  margin: 4% 0 0;
}

.story-title a {
  color: #000;
  text-decoration: none;
}

.story-author {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  margin: 4% 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  color: #666;
}

.story-created-at {
  display: flex;
  font-size: 11px;
  color: #ccc;
  margin: 2% 0;
}

.story-comment {
  width: 10%;
}

.story-point {
  width: 10%;
}

.primary-button {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #00B0EE;
  border: none;
  height: 40px;
  border-radius: 20px;
  background-clip: padding-box;
  box-shadow: 0 4.045px 6.472px -2.427px rgba(10, 27, 37, 0.4);
  padding: 2%;
  transition: all 0.1s linear;
  position: relative;
  margin: 2%;
  cursor: pointer;
  outline: none;
  min-height: 40px;
  min-width: 100px;
}

.primary-button:hover {
  box-shadow: 0 10.59px 16.944px -6.354px rgba(10, 27, 37, 0.4);
}

.primary-button:focus {
  outline: none;
}

.primary-button:active {
  box-shadow: 0 4.045px 6.472px -2.427px rgba(10, 27, 37, 0.4);
}